*{
    box-sizing: border-box;
}
.row{
    border: solid 1px turquoise;
    height: 150px;
    font-size: 0px;
}
.col{
    border: solid 2px lawngreen;
    display: inline-block;
    height: 100%;
    width: 33.33%;
}
.col2{
    border: solid 2px navy;
    display: inline-block;
    height: 100%;
    width: 50%;
}
.row2{
    border: solid 2px red;
    height: 50%;
}
.col3{
    border: solid 2px lawngreen;
    display: inline-block;
    height: 100%;
    width: 33.33%;
}
.col4{
    border: solid 2px lawngreen;
    display: inline-block;
    height: 100%;
    width: 33.33%;
}
.col5{
    border: solid 2px lawngreen;
    display: inline-block;
    height: 100%;
    width: 33.33%;
}