div{
    border: solid 1px tomato;
    height: 150px;
}
h1{
    position: relative;
    z-index: 3;
}
p{
    background-color: hotpink;
    position: relative;
    top: 30px;
    z-index: 4;
}