*{
    box-sizing: border-box;
}
.box{
    border: dotted 2px rgb(25,100,25);
    width: 500px;
    display: flex;
    flex-direction: row;
}
.box > div{
    border: solid 2px rgb(100,100,25);
    border-radius: 5px;
    width: 100px;

}
.one{
    flex-basis: 50px;
}
.two{
    flex-basis: auto;
}
.three{
    flex-basis: 200px;
}